# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# QGIS temporary files
*.qgs~
*.qgz~
*.lock
